@model AddUserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add user</h1>

<form asp-controller="User" asp-action="Index" method="post">

    <div class="mb-3">
        <label asp-for="Username" class="form-label">@Html.DisplayNameFor(m => m.Username)</label>
        <input asp-for="Username" type="text" class="form-control" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">Username of user.</div>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">@Html.DisplayNameFor(m => m.Password)</label>
        <input asp-for="Password" type="text" class="form-control" aria-describedby="passwordHelp">
        <div id="passwordHelp" class="form-text">Username of user.</div>
    </div>

@*    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">@Html.DisplayNameFor(m => m.FirstName)
        </label>
        <input asp-for="FirstName" type="text" class="form-control" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">First name of user.</div>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">@Html.DisplayNameFor(m => m.LastName)</label>
        <input asp-for="LastName" type="text" class="form-control" aria-describedby="usernameHelp">
        <div id="usernameHelp" class="form-text">Last name of user.</div>
    </div>


    <div class="mb-3">
        <label asp-for="Email" class="form-label">@Html.DisplayNameFor(m => m.Email)</label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Email address of user.</div>
    </div>*@

    <button type="submit" class="btn btn-primary">Submit</button>

</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
            "use strict";

    (function($) {
        $(document).ready(function() {

        });
    }(jQuery));
        </script>
}